body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-align: center !important; /* All Text In The Center */
    background-image: url('https://images.squarespace-cdn.com/content/v1/56ca3bbeb654f92cd6eaa060/1583181671123-3ARP8GLDZMIZPWK3IU11/INternet+Security+privacy.png?format=1500w');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3 {
    color: #2b3a42; /* Dark blue-grey */
}

h1 {
    background: linear-gradient(145deg, #6168f1, #c0a254); /* Subtle gradient for 3D feel */
    padding: 25px;
    margin: 20px 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), /* Deep shadow for depth */
    -10px -10px 20px rgba(255, 255, 255, 0.7); /* Highlight for light source */
    border-radius: 8px; /* Smooth corners */
    position: relative;
    width: 70%;
    margin-left: 250px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

h2 {
    padding: 10px;
    background-color: #f1c42f;
    width: 40%;
    margin-left: 30%;
    border-radius: 8px;
}

#Dashboard {
    padding: 10px;
    background: linear-gradient(145deg, #3ade60, #e5b02b);
    color: #060501;
    width: 45%;
    margin-left: 28%;
    border-radius: 8px;
}

h3 {
    padding: 10px;
    background-color: #f1c42f;
    width: 40%;
    margin-left: 30%;
    border-radius: 8px;
}

 h3 a {
    color: #000608;
    padding: 8px;
    background-color: #5ff393;
    border-radius: 8px;
 }

form {
    background: linear-gradient(145deg, #E6CEA5, #C4B07F); /* Subtle gradient for 3D feel */
    padding: 50px;
    margin: 20px 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), /* Deep shadow for depth */
    -10px -10px 20px rgba(255, 255, 255, 0.7); /* Highlight for light source */
    border-radius: 8px; /* Smooth corners */
    position: relative;
    width: 70%;
    margin-left: 250px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

form input[type="text"], form input[type="password"], form input[type="submit"]  {
    width: 20%;
    padding: 10px;
    margin: 30px 0;
    border: 1px solid #f0f403; /* Light grey border */
    border-radius: 4px; /* Slightly rounded corners */
    text-align: center;
}

form button[type="submit"]  {
    font-size: medium;
    border: 1px solid #f0f403;
    border-radius: 5px;
    font-weight: bold;
    color: aquamarine;
    background-color: black;
    padding: 8px;
}

form input[type="file"] {
    background: #92ecb2;
    color: #060000;
    border: 1px solid #f0f403;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
}

form button[type="submit"]:hover {
    background: #d9d6cd; /* Slightly darker blue-grey */
}

label {
    font-size: medium;
    border: 1px solid #f0f403;
    border-radius: 5px;
    font-weight: bold;
    color: aquamarine;
    background-color: black;
    padding: 8px;
}

/*-----Table-----*/
table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #d4e554;
  }
  caption {
    font-size: 1.5em;
    margin: 10px 0;
  }
