{% extends "base.html" %}

{% block title %}{{ session['user']['email'] }}'s Dashboard{% endblock %}

{% block content %}
    <h2 id="Dashboard">{{ session['user']['email'] }}'s Dashboard</h2>
    <br />
    <div id="error-message" style="color: red; display: none;"></div>
    
    <h2>Monitor Domains:</h2>
    <form id="single-monitor-form" method="POST" action="/add_domain/">
        <label class="single-label">Single Domain:</label>
        <input type="text" class="single" id="single" placeholder="Example.com">
        <button type="submit" class="single-submit">Monitor Domain</button>
        <p id="error-message" style="color: red; display: none;">Please enter a valid domain name.</p>
    </form>

    <form id="bulk-monitor-form" method="POST" action="bulk_upload">
        <label class="bulk-label">Upload Bulk Domains:</label>
        <input type="text" class="bulk" id="bulk" placeholder="userdata/Domains_for_upload.txt">
        <button type="submit" class="bulk-submit" name="action" value="upload-check">Upload Domains</button>
        <button type="submit" class="check-submit" name="action" value="check">Run Check</button>
    </form>

    <h3>Results:</h3>
    <table id="resultsTable">
        <thead>
            <tr>
                <th>Domain Name</th>
                <th>Liveness Status</th>
                <th>SSL Certificate Expiration Date</th>
                <th>SSL Certificate Issuer</th>
            </tr>
        </thead>
        <tbody id="resultsBody">
            {% for item in data %}
            <tr>
                <td>{{ item['domain'] }}</td>
                <td>{{ item['status_code'] }}</td>
                <td>{{ item['ssl_expiration'] }}</td>
                <td>{{ item['ssl_Issuer'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form id="domains-form">
        <h2>Your Domains List:</h2>
        <ul class="list-group list-group-flush" id="domains">
            {% for domain in all_domains %}
            <li class="list-group-item">
                {{ domain }}
                <button type="button" class="close" onclick="removeDomain(this)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
            {% endfor %}
        </ul>
    </form>

    <form id="monitoring-form">
        <h2>Your Latest Monitoring Results:</h2>
        <ul class="list-group list-group-flush" id="last_results">
            {% for result in latest_results %}
            <li class="list-group-item">
                <strong>Domain:</strong> {{ result.domain }} <br>
                <strong>Status:</strong> {{ result.status_code }} <br>
                <strong>SSL Expiration:</strong> {{ result.ssl_expiration }} <br>
                <strong>SSL Issuer:</strong> {{ result.ssl_Issuer }}
            </li>
            {% endfor %}
        </ul>
    </form>

    <h2>Schedule a Job:</h2>
    <form id="scheduler-form">
        <label for="job-name">Job Name:</label>
        <input type="text" id="job-name" name="job-name" required>

        <label for="schedule-time">Schedule Time (HH:MM):</label>
        <input type="time" id="schedule-time" name="schedule-time" required>

        <label for="time-zone">Time Zone:</label>
        <select id="time-zone" name="time-zone" required>
            <option value="UTC">UTC</option>
            <option value="Asia/Tokyo">Asia/Tokyo</option>
            <option value="America/New_York">America/New_York</option>
            <option value="Europe/London">Europe/London</option>
            <!-- Add more time zones as needed -->
        </select>

        <button type="submit">Schedule Job</button>
    </form>
{% endblock %}
