{% extends "base.html" %} {% block title %}{{ session['user'] }}'s Dashboard{% endblock %} {% block content
 %}
    <h2 id="Dashboard">{{ session['user'] }}'s Dashboard</h2>
    <br />
    <h2>Monitor Domains:</h2>
    <form id="single-monitor-form" method="POST" action="/add_domain/">
      <label class="single-label">Single Domain:</label>
      <input type="text" class="single" id="single" placeholder="Example.com">
      <button type="submit" class="single-submit">Monitor Domain</button>
      <p id="error-message" style="color: red; display: none;">Please enter a valid domain name.</p>
    </form>
    <form id="bulk-monitor-form" method="POST" action="bulk_upload">
     <label class="bulk-label">Upload Bulk Domains:</label>
     <input type="file" class="bulk" id="bulk" accept=".txt">
     <button type="submit" class="bulk-submit">Monitor Domains</button>
    </form>
    <h3>Results:</h3>
    <form id="result-form" method="GET">
        <div>
            <table id="resultsTable">
                <thead>
                    <tr>
                        <th>Domain Name</th>
                        <th>Liveness Status</th>
                        <th>SSL Certificate Expiration Date</th>
                        <th>SSL Certificate Issuer</th>
                    </tr>
                </thead>
                <tbody id="resultsBody">
                    <!-- JavaScript will dynamically add rows here -->
                </tbody>
            </table>        
        </div>
    </form>
    <form id="domains-form">
        <h2>Your Domains List:</h2>
        <ul class="list-group list-group-flush" id="domains">
           {% for domain in user.domains %}
           <li class="list-group-item">
           {{ domain.data }}
           <button type="button" class="close">
               <span aria-hidden="true">&times;</span>
           </button>
           </li>
           {% endfor %}
       </ul>
      </form>
      <form id="monitoring-form">
        <h2>Your Latest Monitoring Results:</h2>
        <ul class="list-group list-group-flush" id="last_results">
           {% for result in user.results %}
           <li class="list-group-item">
           {{ result.data }}
           <button type="button" class="close">
               <span aria-hidden="true">&times;</span>
           </button>
           </li>
           {% endfor %}
          </ul>
      </form>


{% endblock %}